.login-container {
          border: 1px solid lightgray;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
          margin: 1rem auto;
          height: 300px;
          width: 300px;
          padding: 1rem;
          border-radius: 10px;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.login-container button {
          width: 100px;
          margin-top: 1rem;
          align-items: center;
          justify-content: center;
          display: flex;
}
.hide-all{
          display: none;
}